.max__footer-wrapper {
  background: $footer-bg;
  height: 70px;
  @include make-container(6.25rem);
  // $property, $content, $direction
  @include dispalyFlex(flex, space-between, row);
  align-items: center;
  .max__footer-container {
    @include dispalyFlex(flex, space-between, row);
    width: 100%;
    p {
      margin: 0;
    }
  }
}
