.backdrop1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.91);
  opacity: 0.7;
}

.modal1 {
  position: fixed;
  /* top: 20vh; */
  right: 0;
  height: 100vh;
  width: 470px;
  background-color: white;

  border-radius: 14px 0 0 14px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  z-index: 999999;
}

@media (min-width: 768px) {
  // .modal {
  //   width: 40rem;
  //   left: calc(50% - 20rem);
  // }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.max__home-challenges-sidebar {
  .sidebar-head {
    padding: 0 1.875rem;
    margin: 3.125rem 0 0 0;
    display: flex;
    justify-content: space-between;
    h4 {
      // $color, $fontSize, $fontWeight, $letterSpace, $lineHeight
      @include font($text-secondary-color, 18px, 700, 0, 18px);
      margin: 0;
    }
    svg {
      cursor: pointer;
    }
  }
  hr {
    margin: 1.875rem 0 0 0;
    height: 1px;
    border: 1px solid #979797;
    opacity: 0.45;
  }
  .sidebar-content {
    padding: 0 1.875rem;
    margin: 2.625rem 0 0 0;
    overflow: scroll;
    height: 100vh;
   
    h4{
      @include font(#212121, 16px, 400, 0, 17px) ;
    }
    h5 {
      @include font($text-secondary-color, 16px, 700, 0, 17px);
    }
    .row {
      margin: 1.75rem 0 0 0;
    }
  }
}
