.max-home__quote-container {
  
  position: relative;
}
// .max-home__badge-container1 {
//  background-image: url('https://res.cloudinary.com/dysdy7hjr/image/upload/v1664850939/badge-bg_zbikas.svg');
//  position: absolute;

//  color: #f1ba2d;
//  .max-home__badge-content {
//   position: relative;
//   top: 140px;
//   .badge-content-area {
//     width: 243px;
//     h6 {
//       // $color, $fontSize, $fontWeight, $letterSpace, $lineHeight
//       @include font($primary-color, 12px, 500, 0.22px, 12px);
//       color: rgba(255, 255, 255, 0.86);
//     }
//     h4 {
//       @include font($primary-color, 16px, 500, 0.29px, 16px);
//       strong {
//         @include font($primary-color, 16px, 900, 0.29px, 16px);
//         color: #f1ba2d;
//       }
//     }
//     hr {
//       height: 1px;
//       width: 243px;
//       border: 1px solid rgba(255, 255, 255, 0.3);
//     }
//     p {
//       @include font($primary-color, 12px, 300, 0.22px, 16px);
//     }
//   }
// }
// }

.max-home__quote-container {
  margin-top: 20px;
  // $ht, $wd, $borderRad, $bg
  @include card(166px, 100%, 10px, $primary-color);
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  .max-home__quote-content {
    p {
      // $color, $fontSize, $fontWeight, $letterSpace, $lineHeight
      @include font($text-secondary-color, 12px, 400, 0.22px, 18px);
      height: 90px;
      width: 207px;
      padding-left: 10px;
    }
  }
}
