.max-home__quote-container {
  @include dispalyFlex(flex, center, column);
}
.max-home__badge-container img {
  width: 360px;
  height: 166px;
}
.max-home__badge-img {
  width: 360px;
  height: 166px;
}
.max-home__quote-container {
  margin-top: 20px;
  // $ht, $wd, $borderRad, $bg
  @include card(166px, 360px, 10px, $primary-color);
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  .max-home__quote-content {
    p {
      // $color, $fontSize, $fontWeight, $letterSpace, $lineHeight
      @include font($text-secondary-color, 12px, 400, 0.22px, 18px);
      height: 90px;
      width: 207px;
      padding-left: 10px;
    }
  }
}
