.max_user-wrapper {
  margin: 1.875rem 0 0 0;
  .max_user_card {
    // $ht, $wd, $borderRad, $bg
    @include card(139px, 100%, 20px, $primary-color);
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
    padding: 1.25rem;
     @media (max-width: 992px) {
      width: 100%;
    }
     .max__user-container {
      background-color: $user-bg;
      height: 100%;
      position: relative;
      padding: 1.25rem;
      .max__user-theme-ovel {
        border-radius: 50px;
        position: absolute;
        height: 71px;
        width: 71px;
        background-color: $user-bg-secondary;
        opacity: 0.5;
        top: -22px;
        right: -22px;
      }
      h4 {
        @include font($text-user-color, 1.375rem, 900, 0, 1.375rem);
      }
      h2 {
        display: inline-flex !important;
        // $color, $fontSize, $fontWeight, $letterSpace, $lineHeight
        @include font($text-secondary-color, 1.625rem, 900, 0.029rem, 1.4);
      }
    }
  }
}
