.detail__card-wrapper {
  //   position: relative;
  padding: 2.5rem;
  border-radius: 20px;
  border: 1px solid #e2e2e2;
  background-color: #ffffff;
  box-shadow: 0 12px 84px 0 rgba(0, 0, 0, 0.1);
  .detail__card-content {
    // position: absolute;
    // top: 50%;
    // transform: translate(0%,-50%);
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
  }
  .detail__card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @include dispalyFlex(flex,space-between,center);
    &-heading {
      @include font (#9d9d9d,18px,900,0,18px);
    }
    &-duration {
      @include font (#212121,14px,500,0,12px);
    }
  }
}
