.detail__card-wrapper {
  margin: auto;
  padding: 2.5rem;
  border-radius: 20px;
  border: 1px solid #e2e2e2;
  background-color: #ffffff;
  box-shadow: 0 12px 84px 0 rgba(0, 0, 0, 0.1);
  @include media('<=650px') {
    padding: 1.5rem;
  }
  &-left {
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    object-fit: cover;
  }
  .detail__card-center {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .detail__card-between {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .detail__card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-heading {
      @include font(#9d9d9d, 18px, 900, 0, 18px);
    }
    &-duration {
      @include font(#212121, 14px, normal, 0, 12px);
    }
  }
  .detail__card__body {
    margin-top: 47px;
    padding-right: 15%;
    &-header {
      @include font(#212121, 20px, bold, 0, 22px);
    }
    &-points {
      margin-top: 30px;
      @include font(#5f5d5d, 14px, normal, 0, 18px);
      &-img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }
      .wrapper {
        display: flex;
      }
      &-key {
        margin-bottom: 18px;
      }
    }
  }
}
.width-100 {
  width: 100%;
  @include media('>medium-desktop', '<1680px') {
    width: 85%;
  }
  @include media('>=1680px') {
    width: 75%;
  }
  @include media('>=LGdesktop') {
    max-width: 1200px;
  }
  @include media('>=1280px', '<=1340px') {
    width: 100%;
  }
}

.button {
  margin-top: 46px;
}
.exam__detail__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.detail__card__center {
  padding: 90px;
  @include media('<=600px') {
    padding: 30px;
  }
  @include media('>=1000px', '<1024px') {
    padding: 30px;
  }
  @include media('>850px', '<1000px') {
    padding: 120px;
  }
}

.partcipation {
  padding-right: 15%;
}
.partcipation__detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ecfeef;
  border-radius: 8px;
  width: 100%;
  padding: 16px 25px;
}
.partcipation__detail-img {
  width: 30px !important;
  height: 30px !important;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -6px;
}
.partcipation__detail-img-container {
  padding-left: 6px;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.partcipation__detail-members {
  @include font(#212121, 12px, normal, 0, 13px);
}
.partcipation__detail-total {
  display: inline-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(180deg, #4ef9c9 0%, #dafff4 100%);
  margin-left: -6px;
  justify-content: center;
  align-items: center;
  @include font(#212121, 12px, 500, 0, 13px);
}

.member__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0px;
  }

  .member-profile {
    @include font(#212121, 16px, 400, 0, 14px);

    &-img {
      height: 34px;
      width: 34px !important;
      border-radius: 50%;
      margin-right: 8px;
      object-fit: cover;
    }
    span{
      @include font(#212121, 14px, 500, 0, 14px);  
    }
  }
  .member-points {
    @include font(#212121, 14px, bold, 0, 14px);
    &-img {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
    span{
      @include font(#212121, 14px, bold, 0, 14px);
    }
  }
  .nudge__button {
    @include font(#fff, 14px, 500, 0, 14px);
    border: none;
    padding: 9px 16px;
    border-radius: 6px;
    background: linear-gradient(167.68deg, #54afae 0%, #2a7776 100%);
  }
}

.our__team {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  background: linear-gradient(72.96deg, #0a0101 0%, #bf482e 100%);
}
.opponent__team {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  background: linear-gradient(72.96deg, #0a0101 0%, #0b98d4 100%);
}
.team__logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 27px;
  padding: 15px 15px;
  &-main-image {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.team__name {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  @include font(#ffffff, 24px, 500, 0, 24px);
}
.points__data {
  padding: 20px;
  background-color: #ecfeee;
  border-radius: 20px;
  overflow: hidden;
  @include media('>400px', '<992px') {
    margin-top: 30px;
  }
  &-graph {
    width: 130px;
    height: 100px;
    // overflow: clip;
  }
  &-text {
    display: inline-block;
    vertical-align: middle;
    @include font(#212121, 20px, 500, 0, 28px);
    
  }
  &-small-points {
    color: #6B6B6B;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 13px;
}
h3{
  color: #167F7D;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
}
}
.circular-progress{
  margin-top: -52px;
}
.opponent-wrapper-slick {
  min-height: 260px !important;
}
.slick-dots {
  position: absolute;
  right: -90%;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
  text-align: center;
  margin: 0px 3px;
  padding: 11% 1% 11% 1.5%;
  border-left: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media('<=650px') {
    right: -80%;
  }
  @include media('>=1000px', '<1240px') {
    right: -75%;
  }
  // max-height: 70px;
  // overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
}
.opponent_wrapper-slick {
  margin-bottom: 10px;
}
.detail__card-wrapper {
  ul {
    li {
      li {
        margin-bottom: 0px;
        width: 8px !important;
        height: 8px !important;
        border-radius: 50%;
        background-color: grey !important;
      }
    }
  }
  li {
    .active-slider {
      height: 25px !important;
      width: 8px !important;
      border-radius: 4px !important;
      background-color: #fff !important;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
  }
}

.member__listing-modal {
  overflow-y: auto;
  height: 350px;
}

.team__members {
  margin-top: 20px;
  &-header {
    @include font(#212121, 20px, 500, 0, 14px);
    margin-bottom: 20px;
  }
}

.max-width {
  max-width: 128px;
}

.detail_team_margin {
  margin-top: 8%;
}

.width-60 {
  width: 90%;
  max-width: 1000px;
  padding: 50px;
  @include media('>medium-desktop', '<1680px') {
    width: 85%;
  }
  @include media('>=1680px') {
    width: 75%;
  }
  @include media('>=LGdesktop') {
    max-width: 1100px;
  }
  @include media('>=1100px', '<=1340px') {
    width: 100%;
  }
  @include media('>=500px', '<700px') {
    width: 90%;
  }
  @include media('>=700px', '<800px') {
    width: 80%;
  }
  @include media('>=800px', '<1000px') {
    width: 65%;
  }
}
.pl-30 {
  padding-left: 30px;
  @include media('>=400px', '<900px') {
    padding-left: 10px;
  }
}

.team__info__image-des {
  width: 100%;
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: space-between;
  padding: 70px;

  @include media('>medium-desktop', '<=1480px') {
    padding: 50px;
  }
  @include media('>=1280px', '<1440px') {
    padding: 50px;
  }
  @include media('>=1000px', '<1240px') {
    padding: 35px;
  }
  @include media('<=650px') {
    padding: 30px;
  }
}
.team__info--name {
  @include font(#ffffff, 16px, 500, 0, 16px);
  margin-top: 10px;
  min-height: 40px;
  // margin-bottom: 0;
}
.team__info__points-wrapper {
  margin-top: 20px;
}
.team__info__points-text {
  color: #ffd568;
}
.team__info__points-img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}
.team__info__member-wrapper {
  // margin-top: 26px;
}
.team__info-logo-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.team__info-individual-logo-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.team__info-individual {
  text-align: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
}
.team__info--image {
  text-align: center;
  border-radius: 18px;
  width: 80px;
  height: 80px;
  // padding: 17px;
  margin: auto;
}
.team__info--our-team {
  background-color: #ff5e7b;
}
.team__info--opponent-team {
  background-color: #5ec6ff;
}
#progress {
  background-image: linear-gradient(to right, 20% #e4ffff, 80% #167f7d);
}
