// $property, $content, $direction

// $color, $fontSize, $fontWeight, $letterSpace, $lineHeight

// $ht, $wd, $borderRad, $bg
.mySwiperCatergory {
  height: 250px;
}
.max-learn__category-wrapper {
  margin: 4.688rem 0 0 0;
  @include card(100%, 100%, 20px, $white);
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
  padding: 30px 20px;
  button {
    background-color: $white;
    border: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    color: #0e3a5e;
    cursor: pointer;
  }
  .category-container {
    margin: 1.438rem 0 0 0;
  }
}
.progressbar__learn-text {
  @include font($text-secondary-color, 12px, none, 0, 12px);
  margin-top: 20px !important;
}
.progressbar__learn-text-color {
  @include font(#389f9e, 12px, none, 0, 12px);
  margin-top: 20px !important;
}
.max-learn__catergory-card {
  @include card(200, 100%, 8px, 0);
  padding: 30px 20px;
  &__category_subject {
    @include font(#707070, 14px, bold, 0, 16px);
  }
}

//Category listing
.category_detail {
  @include font(#212121, 14px, 0, 0, 20px);
  margin-top: 20px;
}
.category_row {
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
  padding: 20px;
  &__heading {
    @include font(#212121, 18px, bold, 0, 18px);
    margin-top: 26px;
    margin-bottom: 36px;
  }
  &__col {
    padding-bottom: 20px;
  }
}

.list_bread {
  margin-top: 30px;
  margin-bottom: 20px;
  &__key1 {
    @include font(#999999, 12px, bold, 0, 14px);
    &:hover {
      text-decoration: none;
      color: #999999;
    }
  }
  &__key2 {
    @include font(#212121, 12px, bold, 0, 14px);
  }
}
