.flash-card-wrapper {
  padding: 65px;
  @include displayBothCenter();
  .flash_card {
    width: 80%;
  }
  &__close_button {
    top: 6rem;
  }
}
.leftClassName {
  background-color: #dfdada;
  border-radius: 20px;
}
.rightClassName {
  h3 {
    @include font(#212121, 20px, bold, 0, 26px);
  }
  h5 {
    @include font(#212121, 16px, 200px, 0, 24px);
    margin-top: 10px;
  }
}
.swiper_pagination_flashCard {
  float: right;
  display: flex;
  justify-content: end;
  align-items: center;
  // width: 70%;
  height: 50px;
  margin-top: 48px;
  .swiper-button-disabled {
    background-color: #f1f1f1 !important;
    &:hover {
      cursor: context-menu !important;
    }
    span {
      font-size: 30px !important;
      color: rgb(154 153 153) !important;
    }
  }
  .previous {
    @include card(50px, 50px, 30px, #ecfeee);
    @include displayBothCenter();
    margin: 10px;
    &:hover {
      cursor: pointer;
    }
    span {
      font-size: 30px;
      color: #2a7776;
    }
  }
  .nextButton {
    @include card(50px, 50px, 30px, #ecfeee);
    @include displayBothCenter();
    &:hover {
      cursor: pointer;
    }
    span {
      font-size: 30px;
      color: #2a7776;
    }
  }
  .page_index {
    @include font(#212121, 16px, 300px, 0, 24px);
  }
}
