$font-stack: 'Roboto', sans-serif;
$primary-color: #ffffff;
$secondary-color: #f5f5f5;
$text-primary-color: #777777;
$text-user-color: #9d9d9d;
$text-secondary-color: #212121;
$colors: (#2a3439, #5f747e);
$active-btn: #fef4ec;
$active-btn-text: #ff6633;
$user-bg: #ecfeee;
$user-bg-secondary: #bdffc5;
$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$padding: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
$margin: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

@each $pad in $padding {
  .padding-#{$pad} {
    padding: #{$pad}rem;
  }

  .pt-#{$pad} {
    padding-top: #{$pad}rem;
  }

  .pb-#{$pad} {
    padding-top: #{$pad}px;
  }

  .pl-#{$pad} {
    padding-left: #{$pad}px;
  }

  .pb-#{$pad} {
    padding-right: #{$pad}px;
  }
}

@each $mar in $margin {
  .mt-#{$mar} {
    margin-top: #{$mar}rem;
  }

  .mb-#{$mar} {
    margin-top: #{$mar}rem;
  }

  .ml-#{$mar} {
    margin-top: #{$mar}px;
  }

  .mr-#{$mar} {
    margin-top: #{$mar}px;
  }

  .margin-#{$mar} {
    margin-top: #{$mar}px;
  }
}

@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.borderBottom {
  border-bottom: 1px solid #a8bac9;
}

// uzhairkhan
$black: #000000;
$black1: #2a3439;
$grey: #e5e5e5;
$grey2: #5f747e;
$grey3: #a8bac9;
$white: #ffffff;
$green: #129448;
$blue: #0645ad;
$red: #fd2137;

$font-weights: (
  'extra_bold': 900,
  'bold': 700,
  'bold600': 600,
  'bold500': 500,
  'semi_bold': 400,
);

$headings_bg: (
  'heading1': 58px,
  'heading2': 48px,
  'heading3': 40px,
  'heading4': 33px,
  'heading5': 28px,
  'heading6': 23px,
);
$headings_sm: (
  'heading1': 48px,
  'heading2': 40px,
  'heading3': 33px,
  'heading4': 28px,
  'heading5': 23px,
  'heading6': 19px,
);
// uzhairkhan
