header {
  .max__navbar {
    @include space-between();
    @include make-container(6.25rem);
    background-color: $primary-color;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
    height: 80px;

    .max__menunav-list {
      display: flex;
      list-style-type: none;
      color: $text-primary-color;
      align-items: center;
      li {
        margin: 0 5px;
      }
      svg {
        fill: aqua;
      }
      // $brdrRadius,$padding,$ht,$wd,$color,$font
      a {
        @include max__button(
          20px,
          0.625rem,
          2.5rem,
          6.26rem,
          $text-primary-color,
          0.875rem
        );
        display: inline-block;
      }
      .active {
        background-color: $active-btn;
        color: $active-btn-text;
      }
      .max__nav-search {
        .max__nav-search-container {
          button {
            @include card(2.5rem, 2.5rem, 0.625rem, $secondary-color);
            border: none;
          }
        }
      }
      .max__notification {
        .max__nav-notification-container {
          button {
            @include card(2.5rem, 2.5rem, 0.625rem, $nav_content-bg);
            border: none;
          }
        }
      }

      .max__nav-user {
        .max__nav-user-container {
          position: relative;
          button {
            @include card(2.5rem, 2.5rem, 0.625rem, $secondary-color);
            border: none;
          }
        }
      }

      .max__nav-search-container {
        // $ht, $wd, $borderRad, $bg
        a {
          padding: 0;
        }
      }
    }
  }
  .question_navbar {
    padding-right: 5.25rem;
    padding-left: 5.25rem;
  }
}
// .max__nav-search-container {
//   @include card(2.5rem, 2.5rem, 0.625rem, $secondary-color);
//   @include dispalyFlex(flex, center, column);
//   a {
//     min-width: 0;
//     min-height: 0;
//   }
// }

.nav-icon {
  margin-right: 6px;
  align-items: center;
  margin-bottom: 15px;
}
.home__navbar {
  position: sticky;
  top: 0;
  // z-index: 100;
  z-index: 10;
}

header {
  // .max__navbar {
  // .max__menunav-list {
  .dropDownProfile {
    position: absolute;
    padding: 30px 26px;
    top: 0px;
    right: 6%;
    max-width: 210px;
    border-radius: 15px;
    z-index: 1;
    // border: 1px solid gray;
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
    .dropdown__list-wrapper {
      padding: 0px;
      margin-bottom: 0px;
    }
    .dropdown__list {
      display: flex;
      align-items: center;
      list-style: none;
      color: #212121;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 14px;
      margin-top: 26px;
      cursor: pointer;
      &:first-child {
        margin-top: 0px;
      }
      .image-logo {
        margin-right: 8px;
      }
    }
    &::before {
      content: ' ';
      position: absolute;
      top: -0.4rem;
      right: 1rem;
      width: 10px;
      height: 10px;
      background-color: #ffffff;
      transform: rotate(45deg);
      // border-left: 1px solid gray;
      // border-top: 1px solid gray;
    }
  }
  // }
  // }
}
.dropblur {
  position: absolute;
  width: 100vw;
  background-color: transparent;
  height: 100vh;
  z-index: 100;
}
.user_profile-pic{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 8px;
}