header {
  .max__navbar {
    @include space-between();
    @include make-container(6.25rem);
    background-color: $primary-color;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.03);
    height: 80px;
    .max__menunav-list {
      display: flex;
      list-style-type: none;
      color: $text-primary-color;
      align-items: center;
      li {
        margin: 0 5px;
      }
      svg {
        fill: aqua;
      }
      // $brdrRadius,$padding,$ht,$wd,$color,$font
      a {
        @include max__button(
          20px,
          0.625rem,
          2.5rem,
          6.26rem,
          $text-primary-color,
          0.875rem
        );
        display: inline-block;
      }
      .active {
        background-color: $active-btn;
        color: $active-btn-text;
      }
      .max__nav-search {
        .max__nav-search-container {
          button {
            @include card(2.5rem, 2.5rem, 0.625rem, $secondary-color);
            border: none;
          }
        }
      }
      .max__notification {
        .max__nav-notification-container {
          button {
            @include card(2.5rem, 2.5rem, 0.625rem, $nav_content-bg);
            border: none;
          }
        }
      }

      .max__nav-user {
        .max__nav-user-container {
          button {
            @include card(2.5rem, 2.5rem, 0.625rem, $secondary-color);
            border: none;
          }
        }
      }

      .max__nav-search-container {
        // $ht, $wd, $borderRad, $bg
        a {
          padding: 0;
        }
      }
    }
  }
  .question_navbar{
    padding-right: 5.25rem;
    padding-left: 5.25rem;
  
  }
}
// .max__nav-search-container {
//   @include card(2.5rem, 2.5rem, 0.625rem, $secondary-color);
//   @include dispalyFlex(flex, center, column);
//   a {
//     min-width: 0;
//     min-height: 0;
//   }
// }
