// @include displayFlex($property, $content, $direction)

// @include font($color, $fontSize, $fontWeight, $letterSpace, $lineHeight)

// @include card($ht, $wd, $borderRad, $bg)
.overall-container {
  margin: 40px 0 0 0;
  @include card(auto, 100%, 10px, $nav_content-bg);
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  padding: 25px 30px;
  @include media('<1000px') {
    margin: auto;
    margin-top: 30px;
    max-width: 450px;
  }
  .overall__subheader {
    @include font($text-secondary-color, 16px, 700, 0, 16px);
  }
  .overall__score {
    @include font($text-secondary-color, 36px, 900, 0.65, 36px);
  }
  .overall__score-txt {
    @include font($text-secondary-color, 14px, 400, 0.25, 14px);
  }

  .your__achivement {
    margin: 0;
    padding-left: 5px;
    align-self: center;
    @include font($text-secondary-color, 14px, 400, 0, 14px);
    strong {
      @include font($text-secondary-color, 14px, 500, 0, 14px);
    }
  }
}
.overlall-target-container {
  @include card(auto, 100%, 10px, #ffb14740);
  border-radius: 0 0 10px 10px;
  background-color: #ffdc8b;
  padding: 13px 25px;
  display: flex;
  position: relative;
  @include media('<1000px') {
    margin: auto;
    margin-bottom: 10px;
    max-width: 450px;
  }
  p {
    margin: 0;
    padding-left: 5px;
    align-self: center;
    @include font($text-secondary-color, 14px, 400, 0, 14px);
    strong {
      @include font($text-secondary-color, 14px, 500, 0, 14px);
    }
  }
  .stars {
    position: absolute;
    top: 0;
    right: 0;
  }
}
