// @include displayFlex($property, $content, $direction)

// @include font($color, $fontSize, $fontWeight, $letterSpace, $lineHeight)

// @include card($ht, $wd, $borderRad, $bg)
.max__profile-tab {

  li {
    button {
      height: 100%;
      padding: 10px 33px;
      width: 100%;
    }
  }
}

.max__profile-tab-card-container {
  .details-card {
    h4 {
      margin: 10px 0;
    }

    padding: 30px 30px 0 30px;
    @include card(100%, 100%, 20px, $white);
  }
}



// basic info tab
.ml-pbi {
  min-height: 100vh;

}