.your__squad-header {
  @include font(#212121, 20px, 900, 0, 22px);
  margin-bottom: 15px;
  margin-top: 30px;
}
.your__squad-member {
  border-right: 1px solid rgba(#979797, 0.3);
}
.your__squad-text {
  @include font(#212121, 16px, 700, 0, 16px);
  text-transform: capitalize;
}
.your__squad-subtext {
    @include font(#212121, 12px, 400, 0, 12px);
  }
.table__row-wrapper {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
  padding: 24px 20px;
  margin-bottom: 16px;
}
.your__squad-image {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  margin-right: 20px;
}
.your__squad-name {
  width: 20%;
  padding: 24px 20px;
}
.your__squad__members-img {
  width: 40%;
  padding: 24px 20px;
}
.your__squard-points {
  border-right: 1px solid rgba(#979797, 0.3);
  svg {
    margin-right: 8px;
  }
}
.your__squard-standing {
  svg {
    margin-right: 8px;
  }
}

// table {
//   width: 100%;
//   //   margin: 50px auto;
//   font-family: Arial, sans-serif;
//   font-size: 14px;
//   border-collapse: separate;
//   border-spacing: 0 7px;
//   thead {
//     background-color: green;
//     color: #fff;
//     td {
//       &:first-child {
//         border-left: 1px solid green;
//       }
//       &:last-child {
//         border-right: 1px solid green;
//       }
//     }
//   }
//   td {
//     height: 50px;
//     vertical-align: middle;
//     text-align: center;
//     position: relative;
//     padding: 24px;
//     &:after {
//       content: '';
//       width: 1px;
//       position: absolute;
//       right: 0;
//       top: 8px;
//     //   bottom: 8px;
//       background-color: #eee;
//     }
//     &:last-child {
//       &:after {
//         content: none;
//       }
//     }
//   }
//   tbody {
//     td {
//       border-top: 1px solid #eee;
//       border-bottom: 1px solid #eee;
//       &:first-child {
//         border-left: 1px solid #eee;
//       }
//       &:last-child {
//         border-right: 1px solid #eee;
//       }
//     }
//     tr {
//       background-color: #ffffff;
//       border-radius: 8px;
//       &:hover {
//         background-color: #fafafa;
//       }
//     //   &:last-child {
//     //     box-shadow: none;
//     //   }
//     }
//   }
// }
